<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ApiTestingSuite">
    <test name="Api Test">
        <groups>
            <run>
                <include name="form"/>
            </run>
        </groups>
        <packages>
            <package name="com.fluentWait.framework"/>
            <package name="com.fluentWait.test"/>
        </packages>
    </test>
</suite>